@model List<Application.DTOs.NewsAndAlert.NewsAndAlertResponseDTO>

<style>
    #basic-datatable th,
    #basic-datatable td {
        white-space: normal;
        word-wrap: break-word;
    }

    #basic-datatable th:nth-child(2),
    #basic-datatable td:nth-child(2) {
        max-width: 300px;
    }
</style>

<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-6">
                <div class="text-start">
                    <div class="page-title-box">
                        <h4 class="page-title">News And Alerts</h4>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="text-end">
                    <button type="button" class="btn w-b btn-outline-pink btn-sm btn-rounded" style="border: #DB4B73 1px solid;" onclick="onAddUpdateNewsAndAlert(0)">
                        Add New News And Alert
                    </button>
                </div>
            </div>
        </div>

        <table id="basic-datatable" class="basic-datatable table table-hover dt-responsive nowrap w-100">
            <thead>
                <tr>
                    <th style="width:5%">#</th>
                    <th style="width:40%">Description</th>
                    <th style="width:15%">Valid From</th>
                    <th style="width:15%">Valid Till</th>
                    <th style="width:20%">Created On</th>
                    <th style="width:5%">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    foreach (var newsAndAlert in Model)
                    {
                        if (newsAndAlert.IsActive == 1)
                        {
                            <tr>
                                <td>
                                    <span>@(Model.ToList().IndexOf(newsAndAlert) + 1).</span>
                                </td>
                                <td>
                                    @Html.Raw(newsAndAlert.Description)
                                </td>
                                <td>
                                    @newsAndAlert.ValidFrom.ToString("dd-MM-yyyy h:mm:ss tt")
                                </td>
                                <td>
                                    @newsAndAlert.ValidTill.ToString("dd-MM-yyyy h:mm:ss tt")
                                </td>
                                <td>
                                    @newsAndAlert.CreatedOn.ToString("dd-MM-yyyy h:mm:ss tt")
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-outline-pink btn-rounded" onclick="onAddUpdateNewsAndAlert(@newsAndAlert.Id)">
                                        <i class="fa-regular fa-pen-to-square"></i>
                                    </a>
                                    <a class="btn btn-sm btn-outline-pink btn-rounded" onclick="changeNewsAndAlertStatus(@newsAndAlert.Id)">
                                        <i class="fa-regular fa-circle-xmark"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td class="text-danger">
                                    <span>@(Model.ToList().IndexOf(newsAndAlert) + 1).</span>
                                </td>
                                <td class="text-danger">
                                    @Html.Raw(newsAndAlert.Description)
                                </td>
                                <td class="text-danger">
                                    @newsAndAlert.ValidFrom.ToString("dd-MM-yyyy h:mm:ss tt")
                                </td>
                                <td class="text-danger">
                                    @newsAndAlert.ValidTill.ToString("dd-MM-yyyy h:mm:ss tt")
                                </td>
                                <td class="text-danger">
                                    @newsAndAlert.CreatedOn.ToString("dd-MM-yyyy h:mm:ss tt")
                                </td>
                                <td class="text-danger">
                                    <a class="btn btn-sm btn-outline-pink btn-rounded" onclick="changeNewsAndAlertStatus(@newsAndAlert.Id)">
                                        <i class="fa-solid fa-check-double"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
    let editor = null;

    function onAddUpdateNewsAndAlert(index) {
        if (!editor) {
            editor = new Quill('.editor_description', {
                theme: 'snow',
                modules: {
                    toolbar: [
                        [{ font: [] }, { size: [] }],
                        ["bold", "italic", "underline", "strike"],
                        [{ color: [] }, { background: [] }],
                        [{ script: "super" }, { script: "sub" }],
                        [{ header: [!1, 1, 2, 3, 4, 5, 6] }],
                        [{ list: "ordered" }, { list: "bullet" }],
                        ["direction", { align: [] }],
                        ["clean"]
                    ],
                    clipboard: {
                        matchVisual: false,
                    },
                },
            });

            editor.on('text-change', function (delta, oldDelta, source) {
                let content = editor.root.innerHTML;
                let inputField = "#newsAndAlert-description";
                $(inputField).val(content);
            });
        }

        if (index === 0) {
            $('#Id').val('');
            $('#newsAndAlert-header').val('');
            $('#newsAndAlert-description').val('');
            $('#validFrom').val('');
            $('#validTill').val('');
            
            let today = new Date();
            let year = today.getFullYear();
            let month = String(today.getMonth() + 1).padStart(2, '0'); 
            let day = String(today.getDate()).padStart(2, '0');
            let hours = String(today.getHours()).padStart(2, '0');
            let minutes = String(today.getMinutes()).padStart(2, '0');
            let formattedDateTime = `${year}-${month}-${day}T${hours}:${minutes}`;
            
            $('#validFrom').attr('min', formattedDateTime);
                                
            editor.setText("");

            $('#add-newsAndAlert').modal('show');
        }
        else {
            $.ajax({
                type: 'GET',
                url: '/NewsAndAlert/GetNewsAndAlertById',
                data: { newsAndAlertId: index },
                contentType: 'application/json',
                dataType: "JSON",
                success: function (result) {
                    $('#Id').val(result.data.id);
                    $('#validFrom').val(result.data.validFrom);
                    $('#validTill').val(result.data.validTill);
                    $('#newsAndAlert-header').val(result.data.header);
                    $('#newsAndAlert-description').val(result.data.description);
                    
                    let today = new Date().toISOString().slice(0, 16);
                    $('#validFrom').attr('min', today);
                    
                    if (result.data.description !== undefined) {
                        editor.clipboard.dangerouslyPasteHTML(result.data.description);
                    } else {
                        editor.setText("");
                    }
                    
                    $('#add-newsAndAlert').modal('show');
                }
            });
        }
    }

    toastr.options = {
        "closeButton": true
    };

    function onSuccessNewsAndAlerts(data) {
        if (data.errorType === 1) {
            toastr.warning("Please insert all the required fields.");
            return;
        }
        
        if (data.errorType === -1) {
            toastr.warning(data.message);
            return;
        }
        
        if (data.action === 1) {
            toastr.success("News and alerts successfully updated.");
        }
        else {
            toastr.success("News and alerts successfully saved.");
        }

        $('#add-newsAndAlert').modal('hide');
        $('#news-and-alerts-list').html(data.htmlData);
    }
    
    function changeNewsAndAlertStatus(index) {
        $.ajax({
            type: 'POST',
            url: '/NewsAndAlert/UpdateNewsAndAlertStatus/',
            data: { newsAndAlertsId: index },
            contentType: 'application/x-www-form-urlencoded',
            dataType: "JSON",
            success: function(result) {
                toastr.success(result.data);
                $('#news-and-alerts-list').html(result.htmlData);
            },
            error: function(xhr, status, error) {           
                let errorMessage = eval("(" + xhr.responseText + ")");
                toastr.warning(errorMessage);
            }
        });
    }
</script>
